.dropDownProfile{
    position: absolute;
    top: 3rem;
    right: -1.2rem;
    width: 200px;
    padding: 15px;
    border-radius: 15px;
    background: linear-gradient( #e8a71a, #fff);
    /* background-color: #fff; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #f2d77d;
    /* z-index: 1000; */
    /* display: flex;
    flex-direction: column;
    gap: 10px; */
    
}
.dropDownProfile::before{
    content: "";
    position : absolute;
    top: -0.8rem;
    right: 1.3rem;
    width: 0;
    height: 0;
    /* width: 25px;
    height: 25px; */
    /* background-color: #fff; */
    /* background: linear-gradient(to right bottom,#f2d77d,#e8a71a); */
    /* background-color: #e8a71a; */
    transform: rotate(180deg);
    border-left : 10px solid transparent;
    border-right : 10px solid transparent;
    border-top: 14px solid #e8a71a;
    /* z-index: 9999;
    overflow:  hidden; */
}


