.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E8A71A;
  padding: 0.3rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  /* position: relative; */
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: visible ;
}

/* Left section (logo + text) */
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 45px;
  width: auto;
  border-radius: 8px;
  margin-right: 10px;
}

.navbar-logo:hover {
  transform: scale(1.1);
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); */
}

.brand-text {
  font-size: 1.2rem;
  font-weight: 600;
  color: #007bff;
}

/* Right section (links) */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 2rem;
  overflow: visible;
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: large;

}

.nav-link:hover {
  color: #851C1B;
}

.text-nav:hover {
    transform: scale(0.9);
    color: #851C1B;
}

.btn-nav:hover {
    transform: scale(1.1);
}

/* profilepic */
.user-profile {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #e8a71a;
  transform: scale(1.5);
}

.profile-pic:hover {
  transform: scale(1.9); 
}
/* nav list */
.profile-dropdown {
  position: relative;
  display: inline-block;
  /* display: inline-flex;  */
  cursor: pointer;
  align-items: center;
  z-index: 2000;
  overflow: visible;
}

.profile-pic-dropdown {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  border: 2px solid #eee;
}

/* Dropdown box */
.dropdown-menu {
  /* position: fixed;
  top: 70px;
  right: 20px; */
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  width: 180px;
  /* min-width: 180px; */
  /* background: #fff; */
  background: red;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  z-index: 10000;
  overflow: visible;
  display: block;
  outline: 2px solid red; /*temporary*/
}

.dropdown-header {
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

/* Items */
.dropdown-item {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

.dropdown-item:hover {
  background: #f5f5f5;
}

.logout {
  color: red;
}
